ConsoleApplication/Service References/ServicioAritmeticoReference/ServicioAritmetico1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="procesar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ptipoOperacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pvalor1" type="xs:double" />
        <xs:element minOccurs="0" name="pvalor2" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="procesarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="procesarResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>